.followNavLink {
  /* color: white; */
  list-style: none;
}

.followNavLink {
  /* color: white; */
  margin-bottom: 1.5vh;

}


.navlinkUl {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* margin-bottom: 2.5vh; */
}

.pictureImg {
  padding: 0;
  width: 3vw;
  width: 5vw;
  height: 5vh;
  margin: 0;
  margin-right: 5vw;
  border-radius: 50%;
}

.followDivH1 {
  color: black;
  position: fixed;
  top: 3.5vh;
  /* margin-left: 20vw; */
}

.followerUserNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.picImgUserFollower {
  height: 5vh;

}

.followerDivEach {
  /* padding-top: 100px; */
}
