.followNavLink {
  /* color: white; */
  list-style: none;
  margin: none;
}

.followNavLink {
  /* color: white; */
  margin-bottom: 1.5vh;

}


.navlinkUl {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* margin-bottom: 2.5vh; */
}

.pictureImg {
  border-radius: 50%;
  width: 25px;
  height: 3.125vh;
  width: 3.125vw;
}

.followDivH1 {
  color: black;
  position: fixed;
  top: 3.5vh;
  /* margin-left: 20vw; */
}

.followerUserNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.picImgUserFollower {
  height: 5vh;

}

.followerDivEach {
  /* padding-top: 100px; */
  display: flex;
  align-items: center;
  gap: 20px;
  /* justify-content: center; */
  margin-left: 1vw;
}
