.postDiv {
  outline: black solid 5px;
}
/* .postDiv {

} */

.mainHomeDiv {
  /* outline: black solid 5px; */
  margin-bottom: 60px;
  width: 50vw;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  overflow: hidden scroll;
  height: 80vh;
  /* padding-bottom: 5vh; */
  /* height: 75vh; */

}

.mainPageDivs {
  display: flex;
  /* outline: black solid 5px; */
  height: 80vh;

  /* background-color: black; */
  /* height: 90vh; */

}

.followerDiv {
  width: 30vw;
  background-color: grey;
  margin-left: 7.5vw;
  height: 45vh;
  overflow: hidden scroll;

}


.followerDivRight {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* background-color: black; */
  /* width: 40vw; */
  height: 40vh;
  margin-left: 5vw;
  /* margin-right: 5vw; */

}


.followerNavLinks {
  color: white;
  margin-right: 10px;
}

.followerMap {
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  background-color: white;
  width: 35vw;
  min-width: 200px;
  height: 40vh;
  overflow: hidden scroll;
  margin-top: 3vh;
  /* padding-top: 50px; */
  /* align-items: center; */
  /* margin-bottom: 5vh; */
}

.followerNavLinks {
  margin-bottom: 1vw;
  /* justify-content: center; */
  /* justify-self: center; */
  align-items: center;
}

.postsDiv {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.postInfo {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  border: 5px solid black;
  border-top: none;
  width: 40vw;
}
