.postDiv {
  outline: black solid 5px;
  background-color: white;
  /* margin-top: 5vh; */
}

.mainHomeDiv {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 80vh;
}

.mainHomeDiv::-webkit-scrollbar {
  display: none;
}


.mainPageDivs {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.followerDiv {
  width: 30vw;
  background-color: grey;
  margin-left: 7.5vw;
  height: 45vh;
  overflow: hidden scroll;

}


.followerDivRight {
  display: flex;
  justify-content: center;
  height: 40vh;
  margin-left: 5vw;
}


.followerNavLinks {
  color: white;
  margin-right: 10px;
}

.followerMap {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-width: 200px;
  height: 40vh;
  overflow-y: scroll;
  margin-top: 25px;
}

.followerMap::-webkit-scrollbar {
  display: none;
}

.followerNavLinks {
  margin-bottom: 1vw;

  align-items: center;
}

.postsDiv {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 2.5vh;
  border: lightgrey 1px solid;
  width: 400px;
  height: 700px;


}

.postInfo {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  border: 1px solid black;
  border-top: none;
  width: 40vw;
}

.postProfileImg {
  border-radius: 50%;
  width: 25px;
  height: 25px;

}


.postCaption {
  margin: 2.5%;
}

.postTop {

  display: flex;
  gap: 20px;
  border-bottom: lightgrey 1px solid;

}

.locationAndName {
  display: flex;
  flex-direction: column;

}

.postLocationHeader{
  font-size: 15px;
  margin: 0;
}


.profileCommentUsernameSectionHomeFeed{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-top: lightgrey 1px solid;
}

.profilePicUsernameModalFeed{
  display: flex;
  align-items: center;
  grid-gap: 5px;
  gap: 5px;
  padding: 10px;
  border-bottom: lightgrey 1px solid;
}
