.profile-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-user-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin : 0px 250px 20px 250px;
    width: 900px;
    height: 200px;
    border-bottom: gray 1px solid;
}
.profile-profile-pic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.user-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
    margin:0;
    padding: 0;
}

.profile-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin : 0vw 20vw 0vw 20vw;
    width: 900px;
    /* max-width: 61vw; */
    /* min-width: 60vw; */
    /* max-width: 100%; */
    /* min-width: 100%; */
}

.profile-img {
    width: 250px;
    height: 250px;
    padding: 11px;
    object-fit: cover;
}

.profile-img {
    /* width: 40vw;
    /* max-width: 400px; */
    /* height: 30vh; */
    padding: 11px;
    object-fit: cover;
}

.profile-username-and-follow-container{
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-username{
    font-size: 20px;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 20px
}

.profile-follow-button{
    background-color: rgba(0,149,246);
    border: none;
    color: white;
    border-radius: 2px;
    width: 70px;
    height: 25px
}

.post-and-follow-info{
    display: flex;
    gap: 20px
}
