.postModelDiv{
  display: flex;
}

.rightTopPostCreator{
  display: flex;
}

.modalImage{
  width: 25vw;


}

.imageOnMainPostModal{
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.commentDivMainPostModal{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.imageForIndividualComments{
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
