.postModelDiv{
  display: flex;
  max-height: 800px;

}

.rightTopPostCreator{
  display: flex;
  align-items: center;
  border-bottom: 1px rgb(161, 161, 161) solid;
  justify-content: space-between;
}

.modalImage{
  width: 600px;
  height: 800px;
  object-fit: cover;
  /* min-width: 300px; */

}

.imageOnMainPostModal{
  border-radius: 50%;
  width: 25px;
  height: 25px;

}

.commentDivMainPostModal{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentDivMainPostModal:hover{
  background-color: rgb(216, 216, 216);
}

.imageForIndividualComments{
  border-radius: 50%;
  width: 25px;
  height: 25px;
}



.profilePicUsernameModal{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.profileCommentUsernameSection{
  display: flex;
  align-items: flex-start;
  padding: 10px;
  gap: 5px;
}

.usernameCommentOnCommentSection{
  overflow-wrap: anywhere;
  display: inline;
  align-items: center;
  font-size: small;
  gap: 5px;
}

.usernameOnSection{
  font-weight:700;
  color: rgb(70, 69, 69);
  margin-right: 5px;
}

.getAllCommentsScroll{
  /* overflow-y: a; */
  overflow-y: auto;
  /* min-height: 55vh; */
  max-height: 70vh;
}

.deleteEditCommentDiv{
  display: flex;
  gap:5px;
  padding-right: 10px;
}

.lowerSectionCreateLikeComment{
  border-top: 1px rgb(161, 161, 161) solid;
  padding-top: 5px;
  padding-left: 5px;
  position: absolute;
  bottom: 0;
  width: inherit;
  box-sizing: border-box;
}
.overallCommentSection{
  width: 300px
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.commentInput{
  border:none;
  outline: none;
  width: 225px;
  padding: 10px 10px 10px 0px;
  font-size: 15px;
}
.commentPostButton{
  border:none;
  background-color: white;
  color: rgba(0,149,246,.3);
  font-weight: 700;
}

.commentPostButton:hover{
  color:rgba(0,149,246);
}

.commentFormForPost{
  display: flex;
  justify-content: space-between;
}

.colorHeart{
  color:red;
}

.usernameAndLocation{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.locationOnThePostModal{
  color: rgb(161, 161, 161);
  font-size: small;
}

/* .borderHeart{
  color: white;
  border: black 2px solid;
} */
