.edit-form-container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    outline: 5px whitesmoke solid;
}

.form-inputs {
    display:flex;
    background-color: white;
    border: 10px;
    width: 100%;
    outline: 1px white solid;
    font-family: sans-serif;
}

.edit-delete-modal-buttons {
    display: flex;
    align-items: center;
    gap:5px;
    padding: 10px;
}

.caption-content-field {
   margin: 5px;
}

.location-content-field {
    margin: 5px
}

.confirm-changes-button {
    background-color: white;
    padding: 7px;
    width: 100%;
    outline: 1px white solid;
    font-family: sans-serif;
}

.cancel-changes-button {
    background-color: white;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    font-size: large;
    padding: 15px;
    width: 100%;
    color: gray;
    font-family: sans-serif;
    border: none;
    border-top: 1px solid gray;
}

.choose-file-button-container {
    display: flex;
    justify-content: center;
    width: 90%
}

/* .choose-file-button2 {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: 30px;
    font-family: sans-serif;
    border: 1px solid black;
    margin-bottom: 7px;
    margin-top: 7px;
}

.choose-file-button2:hover {
    background-color: lightgrey
} */

.confirm-changes-button:hover {
    background-color: lightgrey
}

.cancel-changes-button:hover {
    background-color: lightgrey
}
