.delete-popup-container {
    border-radius: 3px;
    width: 350px;
}

.delete-button {
    text-align: center;
    padding: 15px;
    font-size: small;
    color: red;
    font-weight: 600;
    border-bottom: 1px solid gray;
    border-radius: 3px;
}

.delete-button:hover {
    background-color: lightgrey
}

.cancel-button {
    text-align: center;
    padding: 15px;
    font-size: small;
    color: gray;
    font-weight: 600;
    border-radius: 3px;
}

.cancel-button:hover {
    background-color: lightgrey
}

.edit-form-container {
    display: flex;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-file-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-file-name {
    font-size: small;
    overflow-wrap: anywhere;
    color: rgb(114, 114, 114);
}
